// Fret

$fret-initial-width: 25px;
$fret-initial-border-width: 5px;
$thumb-fret-initial-width: 15px;
$thumb-fret-initial-border-width: 2px;

$fret-regular-width: 35px;
$fret-regular-border-width: 1px;
$thumb-fret-regular-width: 10px;
$thumb-fret-regular-border-width: 1px;

$fret-last-border-width: 2px;
$thumb-fret-last-border-width: 1px;

// Fret numbers
$fret-numbers-font-size: 11px;
$fret-numbers-margin: 9px;
$thumb-fret-numbers-font-size: 8px;
$thumb-fret-numbers-margin: 3px;

// String
$string-width: 1px;
$string-height: 25px;
$thumb-string-height: 10px;